.timer-container    {
    display: flex;
    flex-direction: column;
    place-items: center;
    min-height: 50vh;
    width: 400px;
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

.timer-display {
    border: 2px solid #333;
    padding: 20px;
    margin: 20px;
    font-size: 48px;
    background-color: #fff;
}

.timer-controls {
    display: flex;
    justify-content: center;
}

.timer-controls button {
    background-color: rgb(36, 125, 167);
    border: none;
    color: #fff;
    padding: 15px 32px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.timer-controls button:hover {
    background-color: rgba(18, 59, 78, 0.8)
}

.timer-laps {
    width: 100%;
}

.timer-laps ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.timer-laps li {
    border-bottom: 1px solid #333;
    padding: 8px 16px;
}

.timer-laps li:nth-child(odd) {
    background-color: #ddd;
}